In [2]:
# Dependencies
import tweepy
import json
import pandas as pd
from config import consumer_key, consumer_secret, access_token, access_token_secret
# Your Twitter API Keys


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [3]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("../Resources/PopularAccounts.csv", dtype=str)
popular_tweeters.head()

     Screen Name Real Name Tweets Followers Following Favorites Count
0   IAmDartanion       NaN    NaN       NaN       NaN             NaN
1      katyperry       NaN    NaN       NaN       NaN             NaN
2   justinbieber       NaN    NaN       NaN       NaN             NaN
3    BarackObama       NaN    NaN       NaN       NaN             NaN
4  Taylorswift13       NaN    NaN       NaN       NaN             NaN

In [7]:
# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    
    # Error handling
    try:
        # Grab the username
        target_user = row["Screen Name"]
        # print(target_user)

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        # Do the same for "followers_count", "friends_count", and "favourites_count"
        user_followers = user_account["followers_count"]
        user_friends = user_account["friends_count"]
        user_favorites = user_account["favourites_count"]
        # Replace the row information for each
        popular_tweeters.at[index, "Real Name"] = user_real_name
        # Do the same for "Tweets", "Followers", "Following, and "Favorites Count"
        popular_tweeters.at[index, "Tweets"] = user_tweets
        popular_tweeters.at[index, "Followers"] = user_followers
        popular_tweeters.at[index, "Following"] = user_friends
        popular_tweeters.at[index, "Favorites Count"] = user_favorites
    # If an error is encountered, move on with the next iteration of the loop
    except:
        continue
        
popular_tweeters.head()

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,IAmDartanion,Dartanion Williams,31,211,375,134
1,katyperry,KATY PERRY,10117,108140878,221,6818
2,justinbieber,Justin Bieber,30453,107103990,297936,3394
3,BarackObama,Barack Obama,15691,109677282,611368,11
4,Taylorswift13,Taylor Swift,330,84917578,0,633

In [8]:
# Export the new CSV as "PopularAccounts_New.csv"
# Hint: use the to.csv() method
popular_tweeters.to_csv("PopularAccounts_New.csv")    
    
# View the DataFrame
# Hint: use the head() method
popular_tweeters.head()

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,IAmDartanion,Dartanion Williams,31,211,375,134
1,katyperry,KATY PERRY,10117,108140878,221,6818
2,justinbieber,Justin Bieber,30453,107103990,297936,3394
3,BarackObama,Barack Obama,15691,109677282,611368,11
4,Taylorswift13,Taylor Swift,330,84917578,0,633

In [12]:
# Calculate Averages of the following: "Tweets"; "Followers"; "Follwing"; "Favorites Count"
# See "Create DataFrame" below for the variable names you should use
average_tweet_count = popular_tweeters["Tweets"].mean()
average_followers = popular_tweeters["Followers"].mean()
average_following_count = popular_tweeters["Following"].mean()
average_favorites_count = popular_tweeters["Favorites Count"].mean()

# Create DataFrame
averages = {"Average Tweet Count": [average_tweet_count], 
            "Average Follower Count": [average_followers], 
            "Average Following Count": [average_following_count],
            "Average Favorites Count": [average_favorites_count]}

# Create a Dataframe of the averages
avg_df = pd.DataFrame(averages)

avg_df.head()

,Average Tweet Count,Average Follower Count,Average Following Count,Average Favorites Count
0,36711.46,50381886.12,30912.64,2129.28